<!DOCTYPE html>
<html>
​

<head>
   <title>{{title}}</title>
   <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet">
   <link rel="icon" type="image/png" href="/images/llamafornite.jpg">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
   <link rel="stylesheet" href="/stylesheets/style.css">
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   ​
</head>

<body id="game" class="scroll">

   <div class="animacion">
      <div class="white">
         <h1>Round 1 </h1>
         <h2> {{enemy.name}} vs {{user.name}} </h2>
      </div>

   </div>
   <div class="cont-game">

      <div class="enemy">
         <div class="enemy-details">
            <div class="box3 sb13">
               <p>{{enemy.animal.phrase}}</p>

            </div>
         </div>
         <img class="enemy-llama" src="/images/enemy-llama-01.png">
      </div>

      <div class="user">
         <img class="user-llama " src="/images/user-llama-01-01.png">
         <div class="user-details">
            <div class="box3 sb14">
               <p>{{user.animal.phrase}}</p>
            </div>
         </div>
      </div>

      <div class="accordion">
         <div class="accordion-item">
            <h3 class="accordion-item__title">{{pregunta}}</h3>
            <div class="accordion-item__content">
               <div class="accordion-item__content-inside">
                  <div class="flex">
                     <div class="respuesta-correcta respuesta"> <button class="btn-resp">{{answer1}} </button> </div>
                     <div class="respuesta-incorrecta respuesta"> <button class="btn-resp"> {{answer2}} </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>




      </div>




      <script src="/javascripts/game.js"></script>
      <script src="/javascripts/toggle.js"></script>

</body>


​

</html>