<h1>lele</h1>
<div>
<p>{{enemy.name}}</p>
<p>{{enemy.animal.name}}</p>
</div>



<p> {{pregunta}} </p>
<div class="respuesta-correcta respuesta"> {{answer1}} </div>
<div class="respuesta-incorrecta respuesta"> {{answer2}} </div>




<p>{{user.name}}</p>
<p>{{user.animal.name}}</p>



<script src="/javascripts/game.js"></script>