{{>navbar}}

<body id="cuatro">
   <div id="container">
      <h1 class="profile-text">Hello!!</h2>

         <div class="profile">
            <div class="container-user">
               <div class="overlay">
                  <div class="items"></div>
                  <div class="items head">
                     <p>{{name}}</p>
                     <p> {{mail}}<p>
                  </div>
               </div>
            </div>

         </div>

         <a href="/users/edit" class="profile-btn">EDIT</a>

         <div class="form-wrapper">

            <h2 class="animal"> YOUR ANIMAL</h2>




            {{#if animal}}

            <div class="container">
               <div class="overlay">
                  <div class="items"></div>
                  <div class="items head">
                     <p>{{animal.name}}</p>
                     <p> {{animal.phrase}}<p>
                  </div>
                  <div class="items-price">
                     <p class="new">type: {{animal.type}}</p>
                     <p class="new">attitude: {{animal.attitude}}</p>
                  </div>
                  <div class="items cart">
                     <span>life {{animal.life}}</span>
                     <span>attack {{animal.attack}}</span>
                  </div>
               </div>
            </div>

            <div class="navegadores">
               <a href="/animal/edit" class="profile-btn"> EDIT</a>

               <div class="totdelete">
                  <form action="/animal/delete/{{animal._id}}" method="POST" class="dlt">
                     <div class="invisible"></div>
                     <button class="animal-delete-btn" type="submit">DELETE</button>
                  </form>
               </div>
               <div class="delete-message off">
                  <div class="gracia">
                     <p>Are you sure you want to delete your animal? <br>
                        <em>if you are testing CRUD,<br> GO AHEAD</em>
                     </p>
                  </div>
               </div>


               {{else}}
               <a href="/animal/create" class="profile-btn">CREATE </a>
               {{/if}}
            </div>





         </div>

         <script src="/javascripts/gracia.js"></script>


</body>